@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container {
    max-width: 984px;
    min-width: 768px;
    padding: 0 20px;
    margin: 0 auto;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

button {
  width: 100%;
  max-width: 370px;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 28px;
  color: #ffffff;
  background-color: #FF4343;
  border: none;
  padding: 24.79px 10px;
  cursor: pointer;
}
button:hover {
  background-color: #E71414;
  transition: opacity 0.1s ease-in-out;
}
button:active {
  box-shadow: 4px 4px 30px #FF4343;
  transition: opacity 0.1s ease-in-out;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  button {
    max-width: 314px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  button {
    padding: 16px 10px;
    max-width: 280px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 36px 0 35.89px;
  z-index: 2;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .header {
    padding: 38px 0;
  }
}
.header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container::after {
  display: block;
  content: "";
  width: 100%;
  max-width: 1170px;
  border-bottom: 1px solid #BABBC5;
  position: absolute;
  bottom: -1px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .container::after {
    max-width: 984px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .header .container::after {
    display: none;
  }
}
.header__logo, .header picture {
  display: flex;
}
.header .hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 24px;
  height: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 3;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .header .hamburger {
    display: flex;
    margin-right: 15.5px;
  }
}
.header .hamburger img {
  padding: 0 px;
}
.header .hamburger.active .hamburger__line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.header .hamburger.active .hamburger__line:nth-child(2) {
  opacity: 0;
}
.header .hamburger.active .hamburger__line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .header .menu {
    display: none;
    /*
    position: fixed;
    top: 100%; // Position below the header
    left: 0;
    width: 100%;
    height: calc(100vh - 100px); // Adjust height to fit below the header
    background: #353C65;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.3s ease;
    transform: translateY(-100%); // Hide off-screen by default
    z-index: 1;

    &.active {
      transform: translateY(0); // Slide down when active
    }
    */
  }
}
.header .menu__items {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  justify-content: space-between;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 768px) {
  .header .menu__items {
    gap: 1px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .header .menu__items {
    display: none;
    /*
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px; // Add margin to separate from the header
    */
  }
}
.header .menu__item {
  min-width: 134px;
  display: flex;
  justify-content: center;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .menu__item {
    min-width: 112px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .header .menu__item {
    min-width: auto;
  }
}
.header .menu__link {
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .menu__link {
    font-size: 12px;
    line-height: 14px;
  }
}
.header .menu__link:hover::after {
  display: block;
  content: "";
  width: 134px;
  border-bottom: 3px solid #BABBC5;
  position: absolute;
  bottom: -42px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.1s ease-in-out;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .menu__link:hover::after {
    line-height: 112px;
  }
}
.header .menu__link:active {
  color: #E71414;
  transition: opacity 0.1s ease-in-out;
}
.header .menu__link:active::after {
  color: #E71414;
  border-color: #E71414;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .header .menu__link {
    font-size: 12px;
    line-height: 14px;
  }
}

.intro {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 230px 0 120px;
  margin-bottom: 116px;
  z-index: 1;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .intro {
    padding: 257px 0 126px;
    margin-bottom: 78px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .intro {
    padding: 106px 0 52px;
    margin-bottom: 40px;
  }
}
.intro::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(37, 43, 73, 0.8);
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.intro__title {
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 31.43px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .intro__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 61.86px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .intro__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 32.71px;
  }
}
.intro__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
  margin: 0 auto 82px;
  max-width: 1000px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .intro__text {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 89.14px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .intro__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 49.29px;
  }
}

.features {
  margin-bottom: 133.57px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .features {
    margin-bottom: 80.11px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .features {
    margin-bottom: 34.85px;
  }
}
.features .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 88.57px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .features .container {
    grid-template-columns: repeat(3, 315px);
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 49.84px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .features .container {
    display: flex;
    flex-flow: column;
    -moz-column-gap: 0px;
         column-gap: 0px;
    row-gap: 41.46px;
  }
}
.features__item {
  width: 100%;
}
.features__item__wrapper-image {
  display: flex;
  width: 100%;
  max-width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: 0 auto 51px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .features__item__wrapper-image {
    width: 85px;
    height: 85px;
    margin-bottom: 23.49px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .features__item__wrapper-image {
    width: 75px;
    height: 75px;
    margin-bottom: 21.72px;
  }
}
.features__item__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  text-transform: uppercase;
  color: #2D3033;
  margin: 0 0 44.43px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .features__item__title {
    font-size: 18px;
    line-height: 21px;
    margin: 19.775px 19.775px 23.725px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .features__item__title {
    margin-bottom: 8.315px;
  }
}
.features__item__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #6C7279;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .features__item__text {
    font-size: 14px;
    line-height: 16px;
  }
}
.works {
  margin-bottom: 114px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .works {
    margin-bottom: 78.22px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .works {
    margin-bottom: 35px;
  }
}
.works__wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .works__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
.works__item {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid #FFFFFF;
}
.works__item__link {
  position: relative;
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.works__item__link img {
  display: block;
}
.works__item__link:hover .works__item__overlay {
  background-color: rgba(255, 67, 67, 0.8);
  opacity: 1;
}
.works__item__link:active .works__item__overlay {
  background-color: rgba(185, 12, 12, 0.8);
  opacity: 1;
}
.works__item__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 1.115/1;
}
.works__item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  row-gap: 20.57px;
  padding-bottom: 10px 10px 19.215px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .works__item__overlay {
    row-gap: 12.81px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .works__item__overlay {
    row-gap: 4.63px;
  }
}
.works__item__overlay__title {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 16px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .works__item__overlay__title {
    font-size: 18px;
    line-height: 21px;
    padding: 0 9.845px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .works__item__overlay__title {
    font-size: 18px;
    line-height: 21px;
    padding: 0;
  }
}
.works__item__overlay__text {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .works__item__overlay__text {
    font-size: 14px;
    line-height: 16px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .works__item__overlay__text {
    font-size: 14px;
    line-height: 16px;
    padding: 0;
  }
}

.socialmedia__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
}
.socialmedia__link img {
  display: flex;
}

.team {
  margin-bottom: 114px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .team {
    margin-bottom: 78.41px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .team {
    margin-bottom: 34.39px;
  }
}
.team .container {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin: 0 auto;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .team .container {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .team .container {
    flex-flow: column;
    row-gap: 49.39px;
  }
}
.team__item {
  display: flex;
  flex-flow: column;
  text-align: left;
  aspect-ratio: 1/1;
  /*Обертка для фото c параметрами и после нее само изображение aspect ratio*/
}
.team__item__photo-wrapper {
  margin-bottom: 30px;
  overflow: hidden;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 768px) {
  .team__item__photo-wrapper {
    margin-bottom: 25.23px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .team__item__photo-wrapper {
    margin-bottom: 25.25px;
  }
}
.team__item__photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.team__item__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #2D3033;
  margin-bottom: 6.29px;
  text-transform: capitalize;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 768px) {
  .team__item__name {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 4.6px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .team__item__name {
    margin-bottom: 4.61px;
  }
}
.team__item__position {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #FF4343;
  margin-bottom: 17.86px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .team__item__position {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 22.45px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .team__item__position {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 38.49px;
  }
}
.team__item__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #6C7279;
  margin-bottom: 37.86px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .team__item__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 39.2px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .team__item__text {
    margin-bottom: 55.15px;
  }
}
.team__item .socialmedia-wrapper {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 768px) {
  .team__item .socialmedia-wrapper {
    gap: 0px;
  }
  .team__item .socialmedia-wrapper .socialmedia__link {
    width: 32.8px;
    height: 32.8px;
  }
  .team__item .socialmedia-wrapper .socialmedia__link:nth-of-type(1) {
    margin-right: 5.05px;
  }
  .team__item .socialmedia-wrapper .socialmedia__link:nth-of-type(2) {
    margin-right: 4.21px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .team__item .socialmedia-wrapper {
    gap: 0px;
  }
  .team__item .socialmedia-wrapper .socialmedia__link {
    width: 39.61px;
    width: 39.61px;
  }
  .team__item .socialmedia-wrapper .socialmedia__link:nth-of-type(1) {
    margin-right: 6.09px;
  }
  .team__item .socialmedia-wrapper .socialmedia__link:nth-of-type(2) {
    margin-right: 5.08px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  padding-bottom: 45px;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  display: flex;
  justify-content: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  bottom: 0;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    -moz-column-gap: 25.51px;
         column-gap: 25.51px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    -moz-column-gap: 20.51px;
         column-gap: 20.51px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .slider__indicators-wrapper {
    max-width: 129.49px;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #FFFFFF;
  border: 1px solid #7E5D6F;
  margin: none;
  opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: none;
  --swiper-pagination-bottom: 0;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: #7E5D6F;
}

.swiper-pagination-bullet {
  --swiper-pagination-bullet-size: 14px;
  --swiper-pagination-bullet-width: 14px;
  border-radius: 50%;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .swiper-pagination-bullet {
    --swiper-pagination-bullet-size: 9.49px;
    --swiper-pagination-bullet-width: 9.49px;
  }
}

.testimonials {
  margin: 0 auto 114px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 768px) {
  .testimonials {
    margin-bottom: 77.51px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .testimonials {
    margin-bottom: 34.51px;
  }
}
.testimonials .slider {
  width: 100%;
  margin: 0 auto;
  /*
  &__indicator{
      border-radius: 50%;
      width: 14px;
      height: 14px;
      border: 1px solid #7E5D6F;



      @media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
          border-radius: 50%;
          width: 9.49px;
          height: 9.49px;
      }

      &:nth-of-type(2){
          background-color: #7E5D6F;
      }
  }
  */
}
.testimonials .slider__slide {
  display: flex;
  width: 100%;
  max-height: 490px;
  margin-bottom: 31px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .testimonials .slider__slide {
    max-height: 365.49px;
    margin-bottom: 23.39px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .testimonials .slider__slide {
    flex-flow: column;
    margin-bottom: 23px;
    max-height: none;
  }
}
.testimonials .slider__slide__photo-wrapper {
  width: 49%;
  overflow: hidden;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .testimonials .slider__slide__photo-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40%;
  }
}
.testimonials .slider__slide__photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1.51/1;
}
.testimonials .slider__slide__content-wrapper {
  width: 51%;
  background-color: #5C3249;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px 10px 10px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .testimonials .slider__slide__content-wrapper {
    padding: 0 8px 31.57px 0;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .testimonials .slider__slide__content-wrapper {
    height: 60%;
    width: 100%;
    padding: 39px 25px 95px 20px;
  }
}
.testimonials .slider__slide__content__title {
  font-family: "Cardo-Italic";
  font-weight: 400;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 17px;
  width: 100%;
  max-width: 470px;
  text-transform: capitalize;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .testimonials .slider__slide__content__title {
    max-width: 330px;
    font-size: 24px;
    line-height: 32px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .testimonials .slider__slide__content__title {
    text-align: center;
    max-width: 275px;
    font-size: 24px;
    line-height: 32px;
  }
}
.testimonials .slider__slide__content__text {
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 100%;
  max-width: 470px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .testimonials .slider__slide__content__text {
    max-width: 330px;
    font-size: 12px;
    line-height: 14px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .testimonials .slider__slide__content__text {
    max-width: 275px;
    font-size: 12px;
    line-height: 14px;
  }
}
.testimonials .slider__indicators-wrapper {
  margin: 0 auto;
  display: flex;
}

.downloads {
  color: #000000;
  margin-bottom: 114px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .downloads {
    margin-bottom: 78px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .downloads {
    margin-bottom: 45px;
  }
}
.downloads .container {
  display: block;
}
.downloads__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 23.79px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .downloads__title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 18px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .downloads__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 14.75px;
  }
}
.downloads__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 50.14px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .downloads__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 43.29px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .downloads__text {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 11px;
  }
}

.footer .outro {
  padding: 71.14px 0 67.14px;
  background-color: #353C65;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 21px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer .outro {
    padding: 46.59px 0 43.13px;
    font-size: 14px;
    line-height: 16px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .footer .outro {
    padding: 34.14px 0 33.14px;
    font-size: 14px;
    line-height: 16px;
  }
}
.footer .outro .container {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer .outro .container {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .footer .outro .container {
    flex-flow: column;
  }
}
.footer .outro__wrapper-content {
  width: 100%;
  max-width: 370px;
  text-align: center;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .footer .outro__wrapper-content {
    margin-bottom: 69.24px;
  }
}
.footer .outro__wrapper-content:nth-of-type(1) .outro__title {
  margin-bottom: 29px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer .outro__wrapper-content:nth-of-type(1) .outro__title {
    -moz-column-gap: 17.72px;
         column-gap: 17.72px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .footer .outro__wrapper-content:nth-of-type(1) .outro__title {
    margin-bottom: 34px;
  }
}
.footer .outro__wrapper-content:nth-of-type(1) .outro__text {
  margin-bottom: 41.71px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer .outro__wrapper-content:nth-of-type(1) .outro__text {
    margin-bottom: 31.79px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .footer .outro__wrapper-content:nth-of-type(1) .outro__text {
    margin-bottom: 0px;
  }
}
.footer .outro__wrapper-content:nth-of-type(2) .outro__title {
  margin-bottom: 48.86px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer .outro__wrapper-content:nth-of-type(2) .outro__title {
    -moz-column-gap: 32.51px;
         column-gap: 32.51px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .footer .outro__wrapper-content:nth-of-type(2) .outro__title {
    margin-bottom: 36.71px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .footer .outro__wrapper-content:nth-of-type(3) {
    margin-bottom: none;
  }
}
.footer .outro__wrapper-content:nth-of-type(3) .outro__title {
  margin-bottom: 28.71px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer .outro__wrapper-content:nth-of-type(3) .outro__title {
    margin-bottom: 15.58px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .footer .outro__wrapper-content:nth-of-type(3) .outro__title {
    margin-bottom: 38.71px;
  }
}
.footer .outro__wrapper-content:nth-of-type(3) .outro__text {
  text-transform: capitalize;
}
.footer .outro__title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}
.footer .outro__text {
  font-size: 18px;
  font-weight: 400;
}
.footer .outro .socialmedia-wrapper {
  display: flex;
  -moz-column-gap: 27px;
       column-gap: 27px;
  justify-content: center;
}
.footer .outro .socialmedia__link {
  margin-bottom: 3.86px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer .outro .socialmedia__link .socialmedia__link {
    width: 33px;
    height: 33px;
  }
  .footer .outro .socialmedia__link .socialmedia__link:nth-of-type(1) {
    margin-right: 23.01px;
  }
  .footer .outro .socialmedia__link .socialmedia__link:nth-of-type(2) {
    margin-right: 22.16px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .footer .outro .socialmedia__link .socialmedia__link {
    width: 33px;
    height: 33px;
  }
  .footer .outro .socialmedia__link .socialmedia__link:nth-of-type(1) {
    margin-right: 16.77px;
  }
  .footer .outro .socialmedia__link .socialmedia__link:nth-of-type(2) {
    margin-right: 16.01px;
  }
}
.footer__credits {
  background-color: #2C3154;
  padding: 23.86px 0 24.14px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer__credits {
    padding: 14.28px 0 14.43px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .footer__credits {
    padding: 29.86px 0 28.14px;
  }
}
.footer__credits__text-wrapper {
  max-width: 370px;
  text-align: center;
  margin: 0 auto;
}
.footer__credits__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #808080;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footer__credits__text {
    font-size: 14px;
    line-height: 16px;
    max-width: 314px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
  .footer__credits__text {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    margin: 0 auto;
  }
}
.footer__credits__text span {
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */