@charset "UTF-8";
@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Cardo-Italic";
  src: url(../fonts/Cardo/Cardo-Italic.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
}

@media only screen and (min-width: 1124px) {
  .container {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container {
    max-width: 984px;
    margin: 0 auto;
    text-align: center;
  }
}
@media only screen and (max-device-width: 320px) {
  .container {
    max-width: 279px;
    margin: 0 auto;
    text-align: center;
  }
}
button {
  width: 100%;
  max-width: 370px;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 28px;
  color: #ffffff;
  background-color: #FF4343;
  border: none;
  padding: 26px 10px;
}

button:hover {
  background-color: #E71414;
}

button:active {
  box-shadow: 4px 4px 30px #FF4343;
}

.socialmedia__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0;
  z-index: 2;
}
.header .container::after {
  display: block;
  content: "";
  width: 1170px;
  border-bottom: 1px solid #BABBC5;
  position: absolute;
  bottom: -1px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .container::after {
    max-width: 984px;
  }
}
.header__logo {
  display: flex;
}
.header .menu__items {
  display: flex;
  list-style: none;
  text-transform: uppercase;
  justify-content: space-between;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .menu__items {
    gap: 4px;
  }
}
.header .menu__item {
  /*max-height: 100%*/
  min-width: 134px;
  display: flex;
  justify-content: center;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .menu__item {
    min-width: 110px;
  }
}
.header .menu__link {
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.header .menu__link:hover::after {
  display: block;
  content: "";
  width: 134px;
  border-bottom: 3px solid #BABBC5;
  position: relative;
  bottom: -40px;
}
.header .menu__link:active {
  color: #E71414;
}
.header .menu__link:active::after {
  display: block;
  content: "";
  width: 134px;
  border-bottom: 3px solid #E71414;
  bottom: -40px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .menu__link {
    font-size: 12px;
    line-height: 14px;
  }
}

.intro {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 230px 0 120px;
  margin-bottom: 116px;
  z-index: 1;
  /*
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){   
          padding: 257px 0 126px;
      }
  */
}
.intro::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(37, 43, 73, 0.8);
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
.intro__title {
  font-size: 64px;
  font-weight: 900;
  line-height: 75px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 31.43px;
  /*  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){   
          font-size: 48px;
          line-height: 56px;
          margin-bottom: 61.86px;
      }
  */
}
.intro__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 79.57px;
  /*
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px){   
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 89.14px;
      }
  */
}

.features {
  margin-bottom: 116px;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 89px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .features .container {
    /*   
        column-gap: 20px;
        row-gap: 49px;
    */
  }
}
.features__item {
  width: 100%;
  max-width: 370px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .features__item {
    max-width: 314px;
  }
}
.features__item__wrapper-image {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  margin: 0 auto 29px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .features__item__wrapper-image {
    width: 85px;
    height: 85px;
    margin-bottom: 23.49px;
  }
}
.features__item__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  text-transform: uppercase;
  color: #2D3033;
  padding: 22px 0;
  margin-bottom: 20.43px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .features__item__title {
    font-size: 18px;
    line-height: 21px;
    padding: 19.775px;
    margin-bottom: 3.95px;
  }
}
.features__item__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .features__item__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.works {
  margin-bottom: 114px;
}
.works__wrapper {
  width: 100%;
  max-width: 1512px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}
.works__item {
  display: flex;
  width: 100%;
  max-width: 378px;
  border: 1px solid #FFFFFF;
}
.works__item__link {
  position: relative;
  display: inline-block;
}
.works__item__link img {
  display: block;
}
.works__item__link:hover .works__item__overlay {
  background-color: rgba(255, 67, 67, 0.8);
  opacity: 1;
}
.works__item__link:active .works__item__overlay {
  background-color: rgba(185, 12, 12, 0.8);
  opacity: 1;
}
.works__item__image-wrapper {
  width: 380px;
  height: 340px;
  overflow: hidden;
}
.works__item__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.works__item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.works__item__overlay__title {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 900;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20.57px;
}
.works__item__overlay__text {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.team {
  margin-bottom: 114px;
}
.team .container {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin: 0 auto;
}
.team__item {
  display: flex;
  flex-flow: column;
  text-align: left;
  /*Обертка для фото c параметрами и после нее само изображение aspect ratio*/
}
.team__item__photo-wrapper {
  margin-bottom: 30px;
  width: 270px;
  height: 270px;
  overflow: hidden;
}
.team__item__photo {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}
.team__item__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #2D3033;
  margin-bottom: 6.29px;
}
.team__item__position {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #FF4343;
  margin-bottom: 17.86px;
}
.team__item__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #6C7279;
  margin-bottom: 37.86px;
}
.team__item .socialmedia-wrapper {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
}

.testimonials {
  margin: 0 auto 114px;
}
.testimonials .slider {
  width: 100%;
  height: 100%;
  max-height: 535px;
  margin: 0 auto;
}
.testimonials .slider__slide {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 490px;
  max-width: 1510px;
  margin: 0 auto;
}
.testimonials .slider__slide__photo-wrapper {
  display: block;
  width: 50%;
}
.testimonials .slider__slide__photo {
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials .slider__slide__content-wrapper {
  display: block;
  width: 50%;
  background-color: #5C3249;
  padding: 116px 170px 116px 129px;
}
.testimonials .slider__slide__content__title {
  font-family: "Cardo-Italic";
  font-weight: 400;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 0px; /*???*/
}
.testimonials .slider__slide__content__text {
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
}

.downloads {
  color: #000000;
  margin-bottom: 114px;
}
.downloads .container {
  display: block;
}
.downloads__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 22.79px;
}
.downloads__text {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 50.14px;
}

.outro {
  padding: 71.14px 0 67.14px;
  background-color: #353C65;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.outro .container {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.outro__wrapper-content {
  width: 100%;
  text-align: center;
}
.outro__wrapper-content:nth-of-type(1) .outro__title {
  margin-bottom: 29px;
}
.outro__wrapper-content:nth-of-type(1) .outro__text {
  margin-bottom: 41.71px;
}
.outro__wrapper-content:nth-of-type(2) .outro__title {
  margin-bottom: 48.86px;
}
.outro__wrapper-content:nth-of-type(3) .outro__title {
  margin-bottom: 28.71px;
}
.outro__title {
  font-weight: 700;
}
.outro__text {
  font-weight: 400;
}
.outro .socialmedia-wrapper {
  display: flex;
  -moz-column-gap: 27px;
       column-gap: 27px;
  justify-content: center;
}
.outro .socialmedia__link {
  margin-bottom: 3.86px;
}

.footer {
  background-color: #2C3154;
}
.footer .container {
  padding: 23.86px 0 24.14px;
}
.footer__text {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #808080;
}
.footer__text span {
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */